In [1]:
import pandas as pd
import sys
sys.path.append('..src')
from missing_values import fill_missing_values

In [ ]:
df = pd.read_csv('../data/credit_risk_dataset.csv')
df.head(2)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2

In [3]:
df.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [4]:
df = fill_missing_values(df, method='mean', columns=['person_emp_length','loan_int_rate'])

In [ ]:
df.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [6]:
from normalization import normalize_data

In [ ]:
# Standard scaling (mean=0, std=1)
df_normalize = normalize_data(df, method='standard', columns=['person_age', 'person_income'])

In [8]:
df_normalize.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,-0.903374,-0.114143,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,-1.060904,-0.911147,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,-0.430783,-0.911147,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,-0.745843,-0.009274,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,-0.588313,-0.188358,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4